.App {
  margin: 0 auto;
  max-width: 400px;
  background: #fff;
}

.TabSelector {
  display: flex;
  justify-content: space-between;
}

.TabSelector button {
  border: 2px solid transparent;
  background: white;
  font-size: 1rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.TabSelector button {
  border-bottom: 2px solid #eee;
}

.TabSelector button.active {
  border-bottom: 2px solid #F76C6C;
}

.TabSelector button:focus {
  outline: none;
}

.App-content {
  padding: 1em;
}