* {
  background: grey;
}
.App {
  margin: 0 auto;
  max-width: 400px;
  background: grey;
}

.TabSelector {
  display: flex;
  justify-content: space-between;
}

.TabSelector button {
  border: 2px solid transparent;
  background: grey;
  font-size: 1rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.TabSelector button {
  border-bottom: 1px solid rgb(87, 86, 86);
}

.TabSelector button.active {
  border-bottom: 1px solid red;
}
.TabSelector button.active:hover {
  font-weight: bold;
  background-color: rgb(98, 97, 97);
}

.TabSelector button:focus {
  outline: none;
}

.App-content {
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
}